/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* BASE */
*,
::before,
::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: var(--headerHeight) 0 0 0;
   font-family: var(--bodyFont);
   font-size: var(--normalFontSize);
   background-color: var(--bodyColor);
   color: var(--textColor);
   line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
   margin: 0;
}

ul {
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

/* VARIABEL */
:root {
   --headerHeight: 3rem;
   /* ========== Colors ========== */
   --firstColor: #069c54;
   --firstColorAlt: #048654;
   --titleColor: #393939;
   --textColor: #707070;
   --textColorLight: #a6a6a6;
   --bodyColor: #fbfefd;
   --containerColor: #ffffff;
   /* ========== Font and typography ========== */
   --bodyFont: "Poppins", sans-serif;
   --biggestFontSize: 2.25rem;
   --h1FontSize: 1.5rem;
   --h2FontSize: 1.25rem;
   --h3FontSize: 1rem;
   --normalFontSize: 0.938rem;
   --smallFontSize: 0.813rem;
   --smallerFontSize: 0.75rem;
   /* ========== Font Weight ========== */
   --fontMedium: 500;
   --fontSemiBold: 600;
   /* ========== Margin ========== */
   --mb1: 0.5rem;
   --mb2: 1rem;
   --mb3: 1.5rem;
   --mb4: 2rem;
   --mb5: 2.5rem;
   --mb6: 3rem;
   /* ========== z index ========== */
   --zTooltip: 10;
   --zFixed: 100;
}

@media screen and (min-width: 768px) {
   :root {
      --biggestFontSize: 4rem;
      --h1FontSize: 2.25rem;
      --h2FontSize: 1.5rem;
      --h3FontSize: 1.25rem;
      --normalFontSize: 1rem;
      --smallFontSize: 0.875rem;
      --smallerFontSize: 0.813rem;
   }
}

/* LAYOUT */
.bd-container {
   max-width: 960px;
   width: calc(100% - 2rem);
   margin-left: var(--mb2);
   margin-right: var(--mb2);
}

.bd-grid {
   display: -ms-grid;
   display: grid;
   gap: 1.5rem;
}

.l-header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--zFixed);
   background-color: var(--bodyColor);
}

.section {
   padding: 4rem 0 2rem;
}

.section-title {
   text-align: center;
   font-size: var(--h1FontSize);
   color: var(--titleColor);
   margin-bottom: var(--mb3);
}

.section-subtitle {
   text-align: center;
   display: block;
   color: var(--firstColor);
   font-weight: var(--fontMedium);
   margin-bottom: var(--mb1);
}

/* CODE */
/* ========== NAV ========== */
.nav {
   max-width: 1024px;
   height: var(--headerHeight);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.nav__item {
   margin-bottom: var(--mb2);
}

.nav__link,
.nav__logo,
.nav__toggle {
   color: var(--textColor);
   font-weight: var(--fontMedium);
}

.nav__logo:hover {
   color: var(--firstColor);
}

.nav__link {
   -webkit-transition: 0.3s;
   transition: 0.3s;
}

.nav__link:hover {
   color: var(--firstColor);
}

.nav__toggle {
   font-size: 1.3rem;
   cursor: pointer;
}

/* ========== SCROLL TOP ========== */
.scrolltop {
   position: fixed;
   right: 1rem;
   bottom: -20%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 0.3rem;
   background: rgba(6, 156, 84, 0.5);
   border-radius: 0.4rem;
   z-index: var(--zTooltip);
   -webkit-transition: 0.4s;
   transition: 0.4s;
   visibility: hidden;
}

.scrolltop:hover {
   background-color: var(--firstColorAlt);
}

.scrolltop__icon {
   font-size: 1.8rem;
   color: var(--bodyColor);
}

/* ========== HOME ========== */
.home__container {
   height: calc(100vh - 3rem);
}

.home__title {
   font-size: var(--biggestFontSize);
   color: var(--firstColor);
   margin-bottom: var(--mb1);
}

.home__subtitle {
   font-size: var(--h1FontSize);
   color: var(--titleColor);
   margin-bottom: var(--mb4);
}

.home__img {
   width: 300px;
   -ms-grid-column-align: center;
   justify-self: center;
}

/* ========== BUTTONS ========== */
.button {
   display: inline-block;
   background-color: var(--firstColor);
   color: #fff;
   padding: 0.75rem 1rem;
   border-radius: 0.5rem;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}

.button:hover {
   background-color: var(--firstColorAlt);
}

/* ========== ABOUT ========== */
.about__data {
   text-align: center;
}

.about__description {
   margin-bottom: var(--mb3);
}

.about__img {
   width: 280px;
   border-radius: 0.5rem;
   -ms-grid-column-align: center;
   justify-self: center;
}

/* ========== SERVICES ========== */
.services__container {
   row-gap: 2.5rem;
   -ms-grid-columns: (minmax(220px, 1fr)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
   text-align: center;
}

.services__img {
   width: 64px;
   height: 64px;
   fill: var(--firstColor);
   margin-bottom: var(--mb2);
}

.services__title {
   font-size: var(--h3FontSize);
   color: var(--titleColor);
   margin-bottom: var(--mb1);
}

.services__description {
   padding: 0 1.5rem;
}

/* ========== MENU ========== */
.menu__container {
   grid-template-columns: repeat(2, 1fr);
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.menu__content {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: var(--containerColor);
   border-radius: 0.5rem;
   -webkit-box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
   box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
   padding: 0.75rem;
}

.menu__img {
   width: 100px;
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
   margin-bottom: var(--mb2);
}

.menu__name,
.menu__price {
   font-weight: var(--fontSemiBold);
   color: var(--titleColor);
}

.menu__name {
   font-size: var(--normalFontSize);
}

.menu__detail,
.menu__price {
   font-size: var(--smallFontSize);
}

.menu__detail {
   margin-bottom: var(--mb1);
}

.menu__button {
   position: absolute;
   bottom: 0;
   right: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0.625rem 0.813rem;
   border-radius: 0.5rem 0 0.5rem 0;
}

/* ========== APP ========== */
.app__data {
   text-align: center;
}

.app__description {
   margin-bottom: var(--mb5);
}

.app__stores {
   margin-bottom: var(--mb4);
}

.app__store {
   width: 120px;
   margin: 0 var(--mb1);
}

.app__img {
   width: 230px;
   -ms-grid-column-align: center;
   justify-self: center;
}

/* ========== CONTACT ========== */
.contact__container {
   text-align: center;
}

.contact__description {
   margin-bottom: var(--mb3);
}

/* ========== FOOTER ========== */
.footer__container {
   -ms-grid-columns: (minmax(220px, 1fr)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   row-gap: 2rem;
}

.footer__logo {
   font-size: var(--h3FontSize);
   color: var(--firstColor);
   font-weight: var(--fontSemiBold);
}

.footer__description {
   display: block;
   font-size: var(--smallFontSize);
   margin: 0.25rem 0 var(--mb3);
}

.footer__social {
   font-size: 1.5rem;
   color: var(--titleColor);
   margin-right: var(--mb2);
}

.footer__title {
   font-size: var(--h2FontSize);
   color: var(--titleColor);
   margin-bottom: var(--mb2);
}

.footer__link {
   display: inline-block;
   color: var(--textColor);
   margin-bottom: var(--mb1);
}

.footer__link:hover {
   color: var(--firstColor);
}

.footer__copy {
   text-align: center;
   font-size: var(--smallFontSize);
   color: var(--textColorLight);
   margin-top: 3.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
   .nav__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--bodyColor);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--zFixed);
   }
}

@media screen and (min-width: 576px) {
   .home__container,
   .about__container,
   .app__container {
      grid-template-columns: repeat(2, 1fr);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .about__data,
   .about__initial,
   .app__data,
   .app__initial,
   .contact__container,
   .contact__initial {
      text-align: initial;
   }
   .about__img,
   .app__img {
      width: 380px;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
   }
   .contact__container {
      -ms-grid-columns: 1.75fr 1fr;
      grid-template-columns: 1.75fr 1fr;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .contact__button {
      -ms-grid-column-align: center;
      justify-self: center;
   }
}

@media screen and (min-width: 768px) {
   body {
      margin: 0;
   }
   .section {
      padding-top: 8rem;
   }
   .nav {
      height: calc(3rem + 1.5rem);
   }
   .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   }
   .nav__item {
      margin-left: var(--mb5);
      margin-bottom: 0;
   }
   .nav__toggle {
      display: none;
   }
   .change-theme {
      position: initial;
      margin-left: var(--mb2);
   }
   .home__container {
      height: 100vh;
      justify-items: center;
   }
   .services__container,
   .menu__container {
      margin-top: var(--mb6);
   }
   .menu__container {
      grid-template-columns: repeat(3, 210px);
      -webkit-column-gap: 4rem;
      column-gap: 4rem;
   }
   .menu__content {
      padding: 1.5rem;
   }
   .menu__img {
      width: 130px;
   }
   .app__store {
      margin: 0 var(--mb1) 0 0;
   }
}

@media screen and (min-width: 960px) {
   .bd-container {
      margin-left: auto;
      margin-right: auto;
   }
   .home__img {
      width: 500px;
   }
   .about__container,
   .app__container {
      -webkit-column-gap: 7rem;
      column-gap: 7rem;
   }
}

/* JAVASCRIPT CLASS */
/* Variable Dark Theme */
body.dark-theme {
   --titleColor: #f1f3f2;
   --textColor: #c7d1cc;
   --bodyColor: #1d2521;
   --containerColor: #27302c;
}

/* Button Dark Light */
.change-theme {
   position: absolute;
   right: 1rem;
   top: 1.8rem;
   color: var(--textColor);
   font-size: 1rem;
   cursor: pointer;
}

/* ========== Show Menu ========== */
.show-menu {
   top: var(--headerHeight);
}

/* ========== Active Menu ========== */
.active-link {
   color: var(--firstColor);
}

/* ========== Change Background Reader ========== */
.scroll-header {
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ========== Show Scroll Top ========== */
.scroll-top {
   visibility: visible;
   bottom: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
