/* ========== GOOGLE FONTS ========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ========== VARIABLE ========== */
:root {
   --headerHeight: 3rem;
   /* ========== Colors ========== */
   --firstColor: #069c54;
   --firstColorAlt: #048654;

   --titleColor: #393939;
   --textColor: #707070;
   --textColorLight: #a6a6a6;
   --bodyColor: #fbfefd;
   --containerColor: #ffffff;

   /* ========== Font and typography ========== */
   --bodyFont: "Poppins", sans-serif;
   --biggestFontSize: 2.25rem;
   --h1FontSize: 1.5rem;
   --h2FontSize: 1.25rem;
   --h3FontSize: 1rem;
   --normalFontSize: 0.938rem;
   --smallFontSize: 0.813rem;
   --smallerFontSize: 0.75rem;

   /* ========== Font Weight ========== */
   --fontMedium: 500;
   --fontSemiBold: 600;

   /* ========== Margin ========== */
   --mb1: 0.5rem;
   --mb2: 1rem;
   --mb3: 1.5rem;
   --mb4: 2rem;
   --mb5: 2.5rem;
   --mb6: 3rem;

   /* ========== z index ========== */
   --zTooltip: 10;
   --zFixed: 100;

   @media screen and (min-width: 768px) {
      --biggestFontSize: 4rem;
      --h1FontSize: 2.25rem;
      --h2FontSize: 1.5rem;
      --h3FontSize: 1.25rem;
      --normalFontSize: 1rem;
      --smallFontSize: 0.875rem;
      --smallerFontSize: 0.813rem;
   }
}

/* ========== BASE ========== */
*,
::before,
::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

/* Variable Dark Theme */
body.dark-theme {
   --titleColor: #f1f3f2;
   --textColor: #c7d1cc;
   --bodyColor: #1d2521;
   --containerColor: #27302c;
}

/* Button Dark Light */
.change-theme {
   position: absolute;
   right: 1rem;
   top: 1.8rem;
   color: var(--textColor);
   font-size: 1rem;
   cursor: pointer;
}

body {
   margin: var(--headerHeight) 0 0 0;
   font-family: var(--bodyFont);
   font-size: var(--normalFontSize);
   background-color: var(--bodyColor);
   color: var(--textColor);
   line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
   margin: 0;
}

ul {
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

/* ========== CLASS CSS ========== */
.section {
   padding: 4rem 0 2rem;

   &-title {
      text-align: center;
      font-size: var(--h1FontSize);
      color: var(--titleColor);
      margin-bottom: var(--mb3);
   }

   &-subtitle {
      text-align: center;
      display: block;
      color: var(--firstColor);
      font-weight: var(--fontMedium);
      margin-bottom: var(--mb1);
   }
}

/* ========== Layout ========== */
.bd-container {
   max-width: 960px;
   width: calc(100% - 2rem);
   margin-left: var(--mb2);
   margin-right: var(--mb2);
}

.bd-grid {
   display: grid;
   gap: 1.5rem;
}

.l-header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--zFixed);
   background-color: var(--bodyColor);
}

/* ========== NAV ========== */
.nav {
   max-width: 1024px;
   height: var(--headerHeight);
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__item {
      margin-bottom: var(--mb2);
   }

   &__link,
   &__logo,
   &__toggle {
      color: var(--textColor);
      font-weight: var(--fontMedium);
   }

   &__logo:hover {
      color: var(--firstColor);
   }

   &__link {
      transition: 0.3s;
   }

   &__link:hover {
      color: var(--firstColor);
   }

   &__toggle {
      font-size: 1.3rem;
      cursor: pointer;
   }
}

@media screen and (max-width: 768px) {
   .nav__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--bodyColor);
      transition: 0.4s;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--zFixed);
   }
}

/* ========== Show Menu ========== */
.show-menu {
   top: var(--headerHeight);
}

/* ========== Active Menu ========== */
.active-link {
   color: var(--firstColor);
}

/* ========== Change Background Reader ========== */
.scroll-header {
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ========== SCROLL TOP ========== */
.scrolltop {
   position: fixed;
   right: 1rem;
   bottom: -20%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.3rem;
   background: rgba(6, 156, 84, 0.5);
   border-radius: 0.4rem;
   z-index: var(--zTooltip);
   transition: 0.4s;
   visibility: hidden;

   &:hover {
      background-color: var(--firstColorAlt);
   }

   &__icon {
      font-size: 1.8rem;
      color: var(--bodyColor);
   }
}

/* ========== Show Scroll Top ========== */
.scroll-top {
   visibility: visible;
   bottom: 1.5rem;
}

/* ========== HOME ========== */
.home {
   &__container {
      height: calc(100vh - 3rem);
   }

   &__title {
      font-size: var(--biggestFontSize);
      color: var(--firstColor);
      margin-bottom: var(--mb1);
   }

   &__subtitle {
      font-size: var(--h1FontSize);
      color: var(--titleColor);
      margin-bottom: var(--mb4);
   }

   &__img {
      width: 300px;
      justify-self: center;
   }
}

/* ========== BUTTONS ========== */
.button {
   display: inline-block;
   background-color: var(--firstColor);
   color: #fff;
   padding: 0.75rem 1rem;
   border-radius: 0.5rem;
   transition: 0.3s;

   &:hover {
      background-color: var(--firstColorAlt);
   }
}

/* ========== ABOUT ========== */
.about {
   &__data {
      text-align: center;
   }

   &__description {
      margin-bottom: var(--mb3);
   }

   &__img {
      width: 280px;
      border-radius: 0.5rem;
      justify-self: center;
   }
}

/* ========== SERVICES ========== */
.services {
   &__container {
      row-gap: 2.5rem;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   }

   &__content {
      text-align: center;
   }

   &__img {
      width: 64px;
      height: 64px;
      fill: var(--firstColor);
      margin-bottom: var(--mb2);
   }

   &__title {
      font-size: var(--h3FontSize);
      color: var(--titleColor);
      margin-bottom: var(--mb1);
   }

   &__description {
      padding: 0 1.5rem;
   }
}

/* ========== MENU ========== */
.menu {
   &__container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
   }

   &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: var(--containerColor);
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
      padding: 0.75rem;
   }

   &__img {
      width: 100px;
      align-self: center;
      margin-bottom: var(--mb2);
   }

   &__name,
   &__price {
      font-weight: var(--fontSemiBold);
      color: var(--titleColor);
   }

   &__name {
      font-size: var(--normalFontSize);
   }

   &__detail,
   &__price {
      font-size: var(--smallFontSize);
   }

   &__detail {
      margin-bottom: var(--mb1);
   }

   &__button {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      padding: 0.625rem 0.813rem;
      border-radius: 0.5rem 0 0.5rem 0;
   }
}

/* ========== APP ========== */
.app {
   &__data {
      text-align: center;
   }

   &__description {
      margin-bottom: var(--mb5);
   }

   &__stores {
      margin-bottom: var(--mb4);
   }

   &__store {
      width: 120px;
      margin: 0 var(--mb1);
   }

   &__img {
      width: 230px;
      justify-self: center;
   }
}

/* ========== CONTACT ========== */
.contact {
   &__container {
      text-align: center;
   }

   &__description {
      margin-bottom: var(--mb3);
   }
}

/* ========== FOOTER ========== */
.footer {
   &__container {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      row-gap: 2rem;
   }

   &__logo {
      font-size: var(--h3FontSize);
      color: var(--firstColor);
      font-weight: var(--fontSemiBold);
   }

   &__description {
      display: block;
      font-size: var(--smallFontSize);
      margin: 0.25rem 0 var(--mb3);
   }

   &__social {
      font-size: 1.5rem;
      color: var(--titleColor);
      margin-right: var(--mb2);
   }

   &__title {
      font-size: var(--h2FontSize);
      color: var(--titleColor);
      margin-bottom: var(--mb2);
   }

   &__link {
      display: inline-block;
      color: var(--textColor);
      margin-bottom: var(--mb1);

      &:hover {
         color: var(--firstColor);
      }
   }

   &__copy {
      text-align: center;
      font-size: var(--smallFontSize);
      color: var(--textColorLight);
      margin-top: 3.5rem;
   }
}

/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 576px) {
   .home__container,
   .about__container,
   .app__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }

   .about__data,
   .about__initial,
   .app__data,
   .app__initial,
   .contact__container,
   .contact__initial {
      text-align: initial;
   }

   .about__img,
   .app__img {
      width: 380px;
      order: -1;
   }

   .contact__container {
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
   }

   .contact__button {
      justify-self: center;
   }
}

@media screen and (min-width: 768px) {
   body {
      margin: 0;
   }

   .section {
      padding-top: 8rem;
   }

   .nav {
      height: calc(3rem + 1.5rem);

      &__list {
         display: flex;
      }

      &__item {
         margin-left: var(--mb5);
         margin-bottom: 0;
      }

      &__toggle {
         display: none;
      }
   }

   .change-theme {
      position: initial;
      margin-left: var(--mb2);
   }

   .home__container {
      height: 100vh;
      justify-items: center;
   }

   .services__container,
   .menu__container {
      margin-top: var(--mb6);
   }

   .menu {
      &__container {
         grid-template-columns: repeat(3, 210px);
         column-gap: 4rem;
      }

      &__content {
         padding: 1.5rem;
      }

      &__img {
         width: 130px;
      }
   }

   .app__store {
      margin: 0 var(--mb1) 0 0;
   }
}

@media screen and (min-width: 960px) {
   .bd-container {
      margin-left: auto;
      margin-right: auto;
   }

   .home__img {
      width: 500px;
   }

   .about__container,
   .app__container {
      column-gap: 7rem;
   }
}
